[D-BUS Service]
Name=org.freedesktop.thumbnails.Manager1
Exec=/var/home/james/dev/xfce-wayland/install/lib64/tumbler-1/tumblerd
SystemdService=tumblerd.service
